.container{
    max-width: 1280px;
    margin: 0px auto;
}
body {
    background-color: black;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

h2{
    color: white;
    font-size: 1.5rem;
    
}
img {
    height: 200px;
}
button {
   
    margin: 5px;
    cursor: pointer;

}


